.forgoten-password{
    box-shadow: 1px 1px 1px 1px $red;

  .my-form{
    @include my-form($red)
  } 

    h1{
        color:$red ;
    }
    .myBtn{
        margin-left: 40%;
        border: none;
        outline: none;
        background: $red ;
  }
}