.wraper{
    padding: 100px;
    width: 50%;
    height: 30%;
    margin: 50px auto;

        h1{
            color:$green;
            text-align: center;
        }
}

    .my-form{
        width: 100%;
        height: 100%;
        border: 2px solid $green;
        padding: 10px;
    
        .loginBtn{
         margin-left: 40%;
         background: $green;
         border: none;
         outline: none;
        }
    }

.log-in{
    box-shadow: 1px 1px 1px 1px $green;
}

