.sign-up{
    box-shadow: 1px 1px 1px 1px $blue;
    .my-form{
        @include my-form($blue)

        
      } 
    h1{
        color:$blue;
    }

    .myBtn{
        margin-left: 40%;
        border: none;
        outline: none;
        background: $blue;
    }
   
   .isCoach input{
    display: none;
   }

    [type=checkbox]:after {
        display: inline-block;
        content: '\2714';
        position: absolute;
        left: 50%;
        background-color: #ccc;

    }

  

}